package ${package}.dao;

import ${package}.model.table.${className}Entity;
import com.baomidou.mybatisplus.mapper.BaseMapper;
import org.springframework.stereotype.Repository;
/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Repository
public interface ${className}Dao extends BaseMapper<${className}Entity> {
	
}
